.container {
  width: 290px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  border-radius: 4px;
}

.button {
  font-size: 20px;
  padding: 3px;
  background-color: rgb(246, 245, 238);
  width: 70px;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
}

.wrapper {
  list-style-type: none;
}

.list {
  padding-left: 0;
}
