.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition: color 250ms linear;
}

.link:hover,
.link:focus {
  color: rgb(110, 141, 116);
}

.active {
  color: rgb(110, 141, 116);
}
